  html *
  { 
     color: #E5E4E2;
     font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif; !important;
     line-height: 150%;
  }
  .cont { 
     padding-left: 250px;
  }
  
  body {
     margin:20px; padding:20px ;margin-top:20px;margin-left:20px;margin-right:20px;
     padding-top: 70px;
   }
   p {
    #padding: 2cm 4cm 3cm 4cm !important;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 20px;

  }
pre {
  background-color: #666666 !important;
  margin:20px; padding:7px ;margin-top:5px;margin-left:20px;margin-right:20px;
    max-height: 300px;
    overflow: auto;
    background-color: #484848;
    word-break: normal !important;
    word-wrap: normal !important;
    white-space: pre !important;
    outline-style: solid;
    outline-color: #0e1012;
}

.pretext {
    margin:20px; padding:7px ;margin-top:5px;margin-left:20px;margin-right:20px;
    background-color: #1b1d20;
    word-break: normal !important;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    outline-style: groove;
    outline-color: #0e1012;
}
h1 {
    margin:20px; padding:7px ;margin-top:5px;margin-left:0px;margin-right:20px;
    font-size: 24px !important;
    font-weight: bold;
    background-color: #0e1012;
    color:#black; !important;
    word-break: normal !important;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    outline-style: groove;
    outline-color: #2C3539;
}
h5 { 
    background-color: #d03819;
    font-color:#black; !important;
    font-weight:bold;
    word-break: normal !important;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    outline-style: groove;
    outline-color: #726E6D;
}
h4 {
    margin:20px; padding:7px ;margin-top:5px;margin-left:0px;margin-right:20px;
    background-color: #40a7fb;
    font-color:#black; !important;
    font-weight:bold;
    word-break: normal !important;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    outline-style: groove;
    outline-color: #726E6D;
}
.redoutline {
    outline-style: solid; !important
    outline-color: #0e1012; !important
}
.fade {
    box-shadow: 0px 0px 8px #ffffff; 
   -webkit-box-shadow: 0px 0px 8px #808080; 
   -ms-box-shadow: 0px 0px 8px #0e1012;
   -o-box-shadow: 0px 0px 8px #0e1012; 
}

button {
    background-color: grey; 
    border: 5ps;
    color: white;
    padding: 12px 12px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    margin:0px; padding:1px ;margin-top:0px;margin-left:40px;margin-right:0px;
    border-radius: 8px;
}
 

li {
     margin-top:20px;margin-left:20px;margin-right:20px;
}
.image-blurred-edge {
    background-image: url('images/aws-lex-web-ui-arch.png');
    width: 700;
    height: 431;
    box-shadow: 0 0 8px 8px black inset;
}

.vue-image-blurred-edge {
    background-image: url('images/vue-screenshot.png');
    width: 700;
    height: 700;
    box-shadow: 0 0 8px 8px black inset;
}
a:link {
    color: #40a7fb;
}

a:visited {
    color: grey;
}
.redc
{  
  font-color: #FF0000 !important; 
  color: #FF0000 !important; 
  font-size: 21px !important; 
  font-weight: bold;
  text-decoration: underline;
}
.navbar-fixed-top {
  padding: 0;
}


/* On using dropdown menu (To right shift popuped) */
.navbar-fixed-top .navbar-nav > li > .dropdown-menu {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif; !important;
  background-color: LightGrey;
  color: white;
  margin-top: -50px;
  max-height: 500px;
  overflow-x: hidden;
  line-height: 5px important!;
}
.scrollable-menu {
    height: auto;
    max-height: 500px;
    overflow-x: hidden;
}
.collapse a {
}
